#About{
    height: 100vh;
    position: relative;
    top: 10vh;
}

.row {
    color: antiquewhite;
}

.text1{
    margin-top: 25px;
    color: yellow;
    font-size: 6vw;
}

.text3,.text2{
    color: white;
    align-items: center;
}

#typing{
    color: yellow;
}

.bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap:30px;
    align-items: center;
}


@media  (max-width:575px){
    .btn-primary{
        height: 27px;
        width: 60px;
        --bs-btn-font-size: 10px;
    }
    .image{
      height: 72vw;
      margin-bottom: 20px;
    }
}

@media  (min-width:575px) and (max-width:1023px){
    .image{
        height: 35vw;
        margin-bottom: 20px;
      }
    }
@media  (min-width:1024px){
        .image{
            height: 34vw;
            margin-bottom: 20px;
          }
        }