#Contact{
    height: 100vh;
}
.footer{
    column-gap: 17px;
}
.heading{
    color: rgb(203, 203, 0);
}
.nav-link{
    color: white;
}
.nav-item .nounderline::after{
    background-color: transparent;
    color: yellow;
}
.nav{
    --bs-nav-link-color: rgb(183, 183, 0);
    --bs-nav-link-hover-color: rgb(193, 193, 0);
}